[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
"oauth2client" = "*"
gcsfs = "*"
argparse = "*"
pathlib = "*"
dask = {version = "*", extras = ["dataframe"]}
pyyaml = "*"
pandas-gbq = "*"
apiclient = "*"
google-api-python-client = "*"
scikit-learn = "*"
xgboost = "*"
jupyter = "*"
lightgbm = "*"
catboost = "*"

[requires]
python_version = "3.5"
